<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/rain.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img id="weatherPic" src="/img/rain.png" alt="clouds image">
        <p>Use this site to get your weather!</p>

        <form action="">
            <input placeholder="Location" autofocus>
            <button>Search</button>
        </form>

        <p id="locationDataID"></p>

        <table>
            <tr>
                <td id="weatherSkyID"></td>
                <td id="weatherSkyDataID"></td>
            </tr>
            <tr>
                <td id="currentTempID"></td>
                <td id="currentTempDataID"></td>
            </tr>
            <tr>
                <td id="feelsLikeTempID"></td>
                <td id="feelsLikeTempDataID"></td>
            </tr>
        </table>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>